<html> 
    <head>
        <title>CreditsMob</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="apple-touch-icon" href="/media/images/Icon.png"/>
        <style type="text/css" media="screen">@import "/media/css/global.css";</style>
        <style type="text/css" media="screen">@import "/media/jqtouch/jqtouch.css";</style>
        <style type="text/css" media="screen">@import "/media/themes/jqt/theme.css";</style>
        <style type="text/css" media="screen">@import "/media/extensions/jqt.bars/jqt.bars.css";</style>
        <style type="text/css" media="screen">@import "/media/extensions/jqt.bars/themes/jqt/theme.css";</style>
        <style type="text/css" media="screen">@import "/media/add2home/add2home.css";</style>
        <script src="/media/jqtouch/jquery-1.7.js" type="text/javascript" charset="utf-8"></script>
        <script src="/media/jqtouch/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
        <script src="/media/extensions/jqt.bars/jqt.bars.js" type="application/x-javascript" charset="utf-8"></script>
        <script src="/media/js/global.js" type="text/javascript" charset="utf-8"></script>
        <script src="/media/add2home/add2home.js" type="application/javascript" charset="utf-8"></script>
    </head>
    <body>
            {% block content %}{% endblock %}
    </body>
</html>
