<html>
    <head>
        <title>CreditsNob Terms of Service</title>
    </head>

    <body>
        <h1>CreditsMob TERMS OF SERVICE</h1>
        <h2>1.0 AGREEMENT</h2>
        <p>The CreditsMob Service ("CreditsMob" or the "Service"), owned and operated by
        Zing! Apps, LLC. is provided to you ("Advertiser"),("Member") under the terms and
        conditions of this CreditsMob Service Agreement and any amendments thereto and
        any operating rules or policies (collectively, the "ASA" or "Agreement"). CreditsMob
        reserves the right, in its sole discretion, to change, modify, add or remove all or part of
        the ASA at any time. CreditsMob reserves the right to modify the ASA at anytime by
        CreditsMob posting a new agreement on our website (http://www.CreditsMob.com/
        tos.html). If any modification to this agreement is unacceptable to you, your only
        recourse will be to terminate this agreement. Your continued participation in the
        Service following our posting of a new agreement on our site will constitute a binding
        acceptance of the change.</p>

        <p>1.1 By accepting the terms and conditions of the ASA, Advertiser,Member (a)
        represents and warrants that he or she is 18 years old or older;(b) agrees to provide
        true, accurate, current and complete information about 'You' as prompted by the
        Email Registration Form; and (c) agrees to maintain and update this information
        to keep it true, accurate, current and complete. If any information provided by
        Advertiser,Member is untrue, inaccurate, not current or incomplete, CreditsMob has
        the right to terminate Advertiser,Member account and refuse any and all current or
        future use of the Service.</p>

        <p>1.2 BY COMPLETING THE ACCOUNT REGISTRATION PROCESS, YOU
        AGREE TO BE BOUND BY THE ASA. If these terms and conditions or any future
        changes are unacceptable to you, you may cancel your account pursuant to Section 6.0
        regarding termination of service.</p>

        <h2>2.0 DESCRIPTION OF CreditsMob SERVICE</h2>
        <p>By completing this registration, Advertiser and member creates an Account. The
        role of a CreditsMob account gives the Advertiser the ability to buy advertising by
        providing funds and selecting the CreditsMob offer wall to display their mobile
        App(s) in the CreditsMob network for specified periods of time in an advertiser role.
        The CreditsMob member receives points when member indirectly purchases mobile
        apps through the CreditsMob offer wall. The points are redeemed with gift codes
        when successfully launches and uses the mobile app.</p>

        <p>2.1 Member realizes and understands that points will 'not' be accumulated if the
        mobile app purchased or installed from the CreditsMob offer wall has been previously
        installed before under the same member account.</p>

        <p>2.2 Editorial Review - CreditsMob editors will review each mobile App individually
        and has the right to reject the Advertiser's mobile app for any reason. Upon passing
        the editorial review, the mobile app will be displayed in the CreditsMob service.</p>

        <p>2.3 Technical Support - Members and Advertisers may receive technical help
        and resolve billing inquiries by emailing CreditsMob Technical Support at
        support@CreditsMob.com.</p>

        <p>2.4 Display mobile app, web app, Category, Description, Title and Preview page -
        Displayed content of customer's mobile app as seen fit to the CreditsMob Service
        is provided on an "as is" and "as available" basis without warranties of any kind,
        either express or implied, including but not limited to warranties of fitness for a
        particular purpose. Neither this agreement nor any documentation furnished under
        it is intended to express or imply any warranty that the CreditsMob service program
        will be uninterrupted, timely or error-free. CreditsMob'S LIABILITY TO Advertiser
        SHALL NOT, FOR ANY REASON, EXCEED THE AGGREGATE PAYMENTS
        ACTUALLY MADE BY Advertiser TO CreditsMob OVER THE COURSE OF
        THE EXISTING TERM. USE OF CreditsMob SERVICE SUBMISSIONS: By
        submitting material, mobile app(s) or web page listings to the CreditsMob Service
        (including information regarding the listing) you are irrevocably granting CreditsMob,
        its licensees, and any entities in the CreditsMob Distribution Network, the right to
        use all parts of the material, without limitation, including modifying it or using it
        commercially and authorizing others to do so. CreditsMob reserves the right to edit,
        refuse, reject or remove any website, mobile app or listing at its discretion at any time
        from the CreditsMob Service.</p>

        <h2>3.0 Advertiser REPRESENTATIONS</h2>

        <p>Advertiser affirms that he is the legal owner of the mobile app URL specified in
        his account, an employee of the legal owner of the domain, or has obtained express
        written permission from the legal owner of the domain for use of the CreditsMob
        Service with the domain. Advertiser expressly agrees to indemnify CreditsMob from
        any claims by any third party arising from use of the CreditsMob Service with the
        specified URL.</p>

        <h2>4.0 PAYMENTS - CreditsMob reserves the right to change
        display payment points at any time for members.</h2>


        <h2>5.0 TERMINATION</h2>

        <h2>5.1 Either Member, Advertiser or CreditsMob may
        terminate the Service with or without cause at any time and
        effective immediately and without prior notice. CreditsMob

        may terminate by a written or email notice to the Advertiser.</h2>

        <p>Notices of termination initiated by Advertiser must be done through the CreditsMob
        online account management area by 'disabling' their URLs. CreditsMob shall
        not be liable to Advertiser,Member or any third party for termination of Service.
        Should Member object to any terms and conditions of the ASA or any subsequent
        modifications hereto or become dissatisfied with the Service in any way, Member's
        sole recourse is to immediately: (1) discontinue use of the Service; (2) terminate
        Service subscription; and (3) notify CreditsMob of termination. Upon termination of
        the Subscription, Member's right to use the Subscription services immediately ceases.
        Member shall have no right and CreditsMob shall have no obligation thereafter to
        forward any information associated with Member's account. Any amounts paid for the
        month in which you cancel and any monthly fee(s) for any month expired before your
        termination is non-refundable.</p>

        <h2>6.0 Advertiser</h2>
        <p>Either party may terminate the CreditsMob subscription on thirty (30) days notice if
        the other party has materially breached or is otherwise not in compliance with any
        provision of the ASA, and such breach or noncompliance is not cured within such
        thirty (30) day period. CreditsMob reserves the right to IMMEDIATELY suspend any
        Advertiser listing or website and Advertiser access to the CreditsMob service until
        such breach or noncompliance is cured.</p>

        <p>6.1 Termination for Illegal, fraud or Other Activity. Notwithstanding the foregoing,
        CreditsMob may, but has no duty to, immediately terminate Member or Advertiser
        and remove it from CreditsMob servers if CreditsMob in its sole discretion concludes
        that Advertiser,Member is engaged in fraud, illegal activities or the sale of illegal or
        harmful goods or services, or is engaged in activities or sales that may damage the
        rights of CreditsMob or others. Any termination under this Section shall take effect
        immediately and Member expressly agrees that it shall not have any opportunity to
        cure.</p>

        <p>6.2 Waiver. Advertiser,Member expressly waives any statutory or other legal
        protection in conflict with the provisions of this Section 6.</p>

        <p>6.3 Deletion of Information. Upon termination, CreditsMob reserves the right to
        delete from its servers any and all information contained in Advertiser,Member
        account, including but not limited to order processing information, mailing lists, and
        any data generated by the Software.</p>

        <p>6.4 The provisions of Section 13.0 (Proprietary Rights), Section 12.0 (Indemnity), and
        Section 7.0 (Disclaimer of Warranties and Liabilities) of this Agreement shall survive
        any termination of the Agreement.</p>

        <p>7.0 DISCLAIMER OF WARRANTIES AND LIABILITIES THE MOBILE APP
        SERVICE AND SOFTWARE ARE PROVIDED ON AN "AS IS" AND "AS
        AVAILABLE" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES
        OF FITNESS FOR A PARTICULAR PURPOSE. NEITHER THIS AGREEMENT
        OR ANY DOCUMENTATION FURNISHED UNDER IT IS INTENDED TO
        EXPRESS OR IMPLY ANY WARRANTY THAT THE CreditsMob SERVICES
        WILL BE UNINTERRUPTED, TIMELY OR ERROR-FREE OR THAT THE
        SOFTWARE WILL PROVIDE UNINTERRUPTED, TIMELY OR ERROR FREE
        SERVICE. THE SECURITY MECHANISM INCORPORATED IN THE
        SOFTWARE HAS INHERENT LIMITATIONS AND ADVERTISER, MEMBER
        MUST DETERMINE THAT THE SOFTWARE ADEQUATELY MEETS ITS
        REQUIREMENTS. ADVERTISER, MEMBER ACKNOWLEDGES AND AGREES
        THAT ANY MATERIAL AND/OR DATA DOWNLOADED OR OTHERWISE
        OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT ITS OWN
        DISCRETION AND RISK AND THAT ADVERTISER,MEMBER WILL BE
        SOLELY RESPONSIBLE FOR ANY DAMAGES TO ITS COMPUTER SYSTEM
        OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OR UPLOAD
        TO CUSTOMER'S COMPUTER OF SUCH MATERIAL AND/OR DATA.
        ADVERTISER,MEMBER ACKNOWLEDGES AND AGREES THAT THE
        CONTENT OF ANY MATERIAL AND/OR DATA DOWNLOADED OR
        OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT
        ITS OWN DISCRETION AND RISK AND THAT ADVERTISER,MEMBER WILL
        BE SOLELY RESPONSIBLE FOR REVIEWING THE CONTENT FOR
        OFFENSIVE OR DAMAGING CONTENT AND CreditsMob SHALL NOT BE
        LIABLE FOR ANY OFFENSIVE CONTENT OR DAMAGING CONTENT AND
        ADVERTISER,MEMBER IS SOLELY RESPONSIBLE FOR ANY DAMAGES
        RESULTING FROM THE CONTENT OF THE SERVICE, CONTENT FROM THE
        DOWNLOAD OR UPLOAD VIA ANY MEANS TO CUSTOMER'S COMPUTER
        OF SUCH MATERIAL AND/OR DATA. CreditsMob, AND ITS PARENTS,
        SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, SHAREHOLDERS,
        EMPLOYEES AND AGENTS, SHALL NOT BE LIABLE, UNDER ANY
        CIRCUMSTANCES OR LEGAL THEORIES WHATSOEVER, FOR ANY LOSS
        OF BUSINESS, PROFITS OR GOODWILL, LOSS OF USE OR DATA,
        INTERRUPTION OF BUSINESS, OR FOR ANY INDIRECT, SPECIAL,
        INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ANY CHARACTER,
        EVEN IF CreditsMob IS AWARE OF THE RISK OF SUCH DAMAGES, THAT
        RESULT IN ANY WAY FROM ADVERTISER, MEMBER USE OR INABILITY
        TO USE THE SERVICES OR THE SOFTWARE, OR THAT RESULT FROM
        ERRORS, DEFECTS, OMISSIONS, DELAYS IN OPERATION OR
        TRANSMISSION, OR ANY OTHER FAILURE OF PERFORMANCE OF THE

        SERVICES OR THE SOFTWARE. CreditsMob'S LIABILITY TO ADVERTISER,
        MEMBER SHALL NOT, FOR ANY REASON, EXCEED THE AGGREGATE
        PAYMENTS ACTUALLY MADE BY ADVERTISER, MEMBER TO CreditsMob
        OVER THE COURSE OF THE EXISTING TERM. SOME JURISDICTIONS DO
        NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR
        LIABILITIES, SO SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO
        YOU.</p>

        <p>8.0 MODIFICATIONS TO TERMS OF SERVICE CreditsMob reserves the right
        to modify the ASA at anytime by CreditsMob posting a new agreement on our
        website (www.CreditsMob.com/tos.html). If any modification to this agreement is
        unacceptable to you, your only recourse will be to terminate this agreement. Your
        continued participation in the program following our posting of a new agreement on
        our site will constitute a binding acceptance of the change.</p>

        <p>9.0 MODIFICATIONS TO SERVICE CreditsMob reserves the right to modify
        or discontinue the Service with or without prior notice to Advertiser,Member.
        CreditsMob shall not be liable to Advertiser,Member or any third party should
        CreditsMob exercise its right to modify or discontinue the Service.</p>

        <p>10.0 SUSPENSION OF SERVICE CreditsMob reserves the right to suspend the
        Service with or without cause at any time and effective immediately. Suspension will
        be accompanied by written or email notice pursuant to Section 16.0 regarding notices.</p>
        <p>11.0 NO RESALE OR ASSIGNMENT OF SERVICE Advertiser agrees not to resell
        or assign or otherwise transfer its rights or obligations under the ASA without the
        express written authorization of CreditsMob.</p>
        <p>12.0 INDEMNITY Advertiser,Member agrees to indemnify and hold harmless
        CreditsMob and its parents, subsidiaries, affiliates, officers, directors, shareholders,
        employees and agents, from any claim or demand, including attorneys fees,
        made by any third party due to or arising out of Advertiser, Member conduct,
        Advertiser,Member use of the Service, the goods or services offered at Advertisers
        Member's website,Facebook or Twitter site. Any alleged violation of the ASA, or
        any alleged violation of any rights of another, including but not limited to Advertiser,
        Members use of any content, trademarks, service marks, trade names, copyrighted or
        patented material, or other intellectual property used in connection with Advertiser,
        Members website. CreditsMob reserves the right, at its own expense, to assume the
        exclusive defense and control of any matter otherwise subject to indemnification by
        Advertiser, Member, but doing so shall not excuse Advertiser, Member indemnity
        obligations.</p>

        <h2>13.0 PROPRIETARY RIGHTS</h2>
        <p>13.1 Software License. Advertiser,Member acknowledges and agrees that the
        Service is intended for access and use by means of web browsing software,
        and that CreditsMob does not commit to support any particular browsing
        platform. CreditsMob reserves the right at any time to revise and modify the
        service, release subsequent versions thereof and to alter features, specifications,
        capabilities, functions, and other characteristics of the service, without notice to
        Advertiser,Member. If any revision or modification to the service materially changes
        Advertiser,Member ability to conduct business, Advertiser,Members sole remedy is to
        terminate the ASA pursuant to Section 6 regarding termination of service.</p>
        <p>13.2 CreditsMob Intellectual Property. Advertiser,Member acknowledges and agrees
        that content available from CreditsMob or the Service, including but not limited to
        text, software, music, sound, logos, trademarks, service marks, photographs, graphics,
        or video, is protected by copyright, trademark, patent, or other proprietary rights
        and laws, and may not be used in any manner other than as specified in Section 12.1
        above.</p>

        <h2>14.0 PRIVACY</h2>
        <p>14.1 Advertiser,Member Information. CreditsMob maintains information about
        Advertiser,Member Data on servers, including but not limited to account registration
        information, customer order information, Mobile App information.</p>
        <p>14.2 Advertiser, Member agrees that CreditsMob may disclose Advertiser,Member
        Information in the good faith belief that such action is reasonably necessary: (a)
        to comply with the law; (b) to comply with legal process; Â© to enforce the ASA;
        (d) to respond to claims that the Advertiser's website or mobile App is engaged in
        activities that violate the rights of third parties; or (e) to protect the rights or interests
        of CreditsMob, or others; provided, however, that nothing in this section shall impose
        a duty on CreditsMob to make any such disclosures.</p>
        <p>14.3 Technical Access. Advertiser,Member acknowledges and agrees that technical
        processing of Advertiser,Member Information is and may be required: (a) for the
        Service to function; (b) to conform to the technical requirements of connecting
        networks; Â© to conform to the technical requirements of the Service; or (d)
        to conform to other, similar technical requirements. Advertiser,Member also
        acknowledges and agrees that CreditsMob may access Advertiser,Member's account
        and its contents as necessary to identify or resolve technical problems or respond to
        complaints about the Service.</p>
        <p>15.0 FORCE MAJEURE Neither party shall be liable to the other for any delay or
        failure in performance under the ASA resulting directly or indirectly from acts of
        nature or causes beyond its reasonable control.</p>

        <p>16.0 NOTICES Any notices or communications under the ASA shall be by electronic
        mail or in writing and shall be deemed delivered upon receipt to the party to whom
        such communication is directed, at the addresses specified below. If to CreditsMob,
        such notices shall be addressed to support@CreditsMob.com or 2930 N Sheridan, Chicago IL 60657. If to Advertiser,Member, such notices shall be addressed
        to the electronic or mailing address specified when Advertiser,Member opens an
        account with CreditsMob.</p>

        <h2>17.0 MAINTENANCE AND SUPPORT</h2>
        <p>17.1 Advertiser,Member can obtain assistance with any technical difficulty that may
        arise in connection with Advertiser,Member's utilization of the Software or Services
        by requesting assistance by email to support@CreditsMob.com. CreditsMob reserves
        the right to establish limitations on the extent of such support, and the hours at which
        it is available.</p>

        <p>17.2 Advertiser,Member is responsible for obtaining and maintaining all telephone,
        computer hardware, server, mobile device and other equipment needed for its access
        to and use of the Software and Services and Advertiser,Member shall be responsible
        for all charges related thereto.</p>


        <p>18.0 ENTIRE AGREEMENT-The ASA constitutes the entire agreement between
        the parties with respect to the subject matter hereof and supersedes all previous
        proposals, both oral and written, negotiations, representations, writings and all other
        communications between the parties.</p>

        <p>19.0 GENERAL-The ASA and the relationship between Advertiser,Member and
        CreditsMob shall be governed by the laws of the state of Delaware without regard to
        its conflict of law provisions. Advertiser,Member and CreditsMob agree to submit to
        the personal and exclusive jurisdiction of the Superior Court of the State of Delaware.
        CreditsMob's failure to exercise or enforce any right or provision of the ASA shall not
        constitute a waiver of such right or provision. If any provision of the ASA is found
        by a court of competent jurisdiction to be invalid, the parties nevertheless agree that
        the court should endeavor to give effect to the parties' intentions as reflected in the
        provision, and agree that the other provisions of the ASA remain in full force and
        effect. Advertiser,Member agrees that regardless of any statute or law to the contrary,
        any claim or cause of action arising out of or related to use of the Service or the ASA
        must be filed within one (1) year after such claim or cause of action arose, or be
        forever barred. The section titles in the ASA are for convenience only and have no
        legal or contractual effect. If you have any questions regarding the CreditsMob Terms
        of Service, please contact us at any time. Or write to us at: Terms of Service â„…
        CreditsMob 2930 N Sheridan, Chicago IL 60657 (USA)</p> 

    </body>

</html>
