
{% extends "base.html" %}
{% block content %}
<div id="tabbar">
    <div>
        <ul>
            <li class="first">
                <a class="refresh_button" href="#" mask="/media/images/Empty.png" mask2x="/media/images/Empty.png">
                    <img class="refresh_image" src="/media/images/Refresh.png"/>
                    <strong>refresh</strong>
                </a>
            </li>
            <li class="second" style="width: 80%;" animation="pop">
                <a class="rewards_pressedtrial" href="#rewards" mask="/media/images/Empty.png" mask2x="/media/images/Empty.png">
                    <strong>$$ Rewards $$</strong>
                </a>
            </li>
            <li class="third">
                <a href="#help" mask="/media/images/Empty.png" mask2x="/media/images/Empty.png">
                    <div class="help_image">?</div>
                    <strong>Help</strong>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="jqt"> 
    <div class="current" id="home">
        <div class="toolbar">
            <h1><div class="credits_title">Credits</div><div class="mob_title">Mob</div></h1>
            <div class="toolbar_credits" >{{balance}} Credits</div>
        </div>
        <div class="s-scrollwrapper">
            <div class="landing_page">
                <div class="intro_text">Instant shopping credits on the go!</div>
                <div class="intro_text sub_text">Welcome to CreditsMob, the #1 mobile shopping
                experience. Earn Credits for trying out partner offers,
                like downloading and using free mobile apps. Use these
                Credits to redeem exciting rewards like Amazon.com and
                iTunes Gift Cards.</div>
                <ul class="rounded">
                    {% if show_facebook %}
                    <li>
                        {% if class_name == "no_udid" %}
                            <a class="no_udid">
                        {% else %}
                            <a class="facebook_refer">
                        {% endif %}
                            <img class="appimage" src="/media/images/facebook.png" />
                            <small class="credits rounded">200 Credits</small>
                            <div class="appname">Share with friends.</div>
                            <div class="appdesc">Share on your Facebook timeline!</div>
                        </a>
                    </li>
                    {% endif %}
                    {% for row in data %}
                        <li>
                        {% if row.has_udid %}
                            <a class="has_udid" href="#" action_url="{{row.action_url}}">
                        {% else %}
                            <a class="no_udid" href="#">
                        {% endif %}
                            {% if row.icon_url %}
                                <img class="appimage" src="{{row.icon_url}}"/>
                            {% endif %}
                            <small class="credits rounded">500 Credits</small>
                            <div class="appname">{{ row.app_name }}</div>
                            <div class="appdesc">{{ row.description|slice:"0:100"}} </div>
                        </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="javascript:window.location.reload();" class="refresh">Refresh</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div id="rewards">
        <div class="toolbar">
            <a class="behind" href="#home" animation="">Home</a>
            <h1><div class="credits_title">Credits</div><div class="mob_title">Mob</div></h1>
            <div class="toolbar_credits my_credits" val="{{balance}}">{{balance}} Credits</div>
        </div>
        <div class="s-scrollwrapper">
            <div class="landing_page">
                <div class="intro_text">Redeem credits for exciting rewards below! </div>
                <div class="intro_text sub_text">Rewards are emailed to you within 48 hours of requesting!</div>
                <ul class="rounded">
                    {% for row in rewards %}
                        <li>
                        <a class="{{class_name}}" href="#" email="{{email}}" user_id="{{user_id}}" rewards_no={{row.id}}>
                            {% if row.image_url %}
                                <img class="appimage" src="{{row.image_url}}"/>
                            {% endif %}
                            <small class="credits rounded" val={{row.credits_worth}}>{{row.credits_worth}} Credits</small>
                            <div class="appname">{{ row.name }}</div>
                            <div class="appdesc">{{ row.desc}} </div>
                        </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="disclaimer">*Amazon.com is not a sponsor of this promotion. Except as required by law, Amazon.com Gift Cards ("GCs") cannot be transferred for value or redeemed for cash. GCs may be used only for purchases of eligible goods on Amazon.com or certain of its affiliated websites. For complete terms and conditions, see www.amazon.com/gc-legal. GCs are issued by ACI Gift Cards, Inc., a Washington corporation. ©,®,™ Amazon.com Inc. and/or its affiliates, 2012. No expiration date or service fees.</div>
            </div>
        </div>
    </div>

    <div id="help">
        <div class="toolbar">
            <a class="behind" href="#home">Home</a>
            <h1><div class="credits_title">Credits</div><div class="mob_title">Mob</div></h1>
            <div class="toolbar_credits my_credits" val="{{balance}}">{{balance}} Credits</div>
        </div>
        <div class="s-scrollwrapper">
            <div class="landing_page">
                <a  href="#" class="tos">Terms Of Service</a>
                <div class="intro_text">FAQs</div>
                <ul class="rounded">
                    <li class="help_stuff">
                        <div class="question">Q: How am I getting rewards without paying anything?</div>
                        <div class="answer">Creditsmob has partnered with companies who want you to use their products. These products are
                        primarily mobile applications. So, they pay Creditsmob a fee for every app download, and we share that
                        with you in the form of a reward!</div>
                    </li>
                    <li class="help_stuff">
                        <div class="question">Q: What data do you collect?</div>
                        <div class="answer">A: All we need is your Device Identifier and Email Address. The Device Identifier is an anonymous ID that
                        we use to track the number of credits you receive. This identifier is supplied by the phone manufacturer
                        and does not tell us who you are. The Email Address is used to send rewards once you have redeemed
                        them. We don’t collect or store any other information.</div>
                    </li>
                    <li class="help_stuff">
                        <div class="question">I downloaded an app, but did not get any credits?</div>
                        <div class="answer">A: Make sure to launch the app and use it for at least a few minutes. Only then do we receive confirmation
                        from our partners that you have successfully used the app, and we can update your credits.</div>
                    </li>
                    <li class="help_stuff">
                        <div class="question">Q: I launched the app, used it, but still no credits?</div>
                        <div class="answer">A: Sometimes the notification from our partners might be a bit delayed. Refresh the page/close the app/
                        wait for a few minutes. If it still does not work, please write to us at <a class="mail_link" href="mailto:support@creditsmob.com">support@creditsmob.com.</a></div>
                    </li>
                    <li class="help_stuff">
                        <div class="question">I redeemed the reward, but have not got it via email?</div>
                        <div class="answer">A: Rewards will be sent to you within 48 hours from when you request them. If you don’t receive it within
                        that time, please write to us at <a class="mail_link" href="mailto:support@creditsmob.com">support@creditsmob.com.</a></div>
                    </li>
                    <li class="help_stuff">
                        <div class="question">Q: Why do I not see any offers on the home page?</div>
                        <div class="answer">A: This is probably because you have tried out all the apps/offers we have available. We are continually
                        working to get more partners so we can get you more offers. You can help us by using the already
                        downloaded apps more frequently. This way our partners will value the quality of users we are providing
                        them.</div>
                    </li>
                    <li class="help_Stuff">
                        <div class="question">Q: Still need help?</div>
                        <div class="answer">A: Please reach out to <a class="mail_link" href="mailto:support@creditsmob.com">support@creditsmob.com</a> and we'll be happy to help.</div>
                    </li>
                    <li class="help_stuff">
                        <div class="question">Q: How do I make changes to my Email Address/Facebook account?</div>
                        <div class="answer">A: Please write to us at <a class="mail_link" href="mailto:support@creditsmob.com">support@creditsmob.com</a> and we’ll make the changes for you.</div>
                    
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}

